@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600&display=swap');

:root {
  --background: #ffffff;
  --dark: #003b49;
  --mid: #3c4041;
  --light: #c5e0e7;
  --font: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}
body {
  background: var(--background);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: var(--font);
}
#root {
  width: 100vw;
}

#test {
 display: none;
}

.title {
  background-color: var(--dark);
  color: var(--background);
  padding: 40px;
  margin-top: -20px;;
}

.input_section {
  margin: 30px auto;
  padding: 60px;
  width: 70vw;
  box-shadow: 0 0 8px var(--dark);
  border-radius: 4px;
}
.search_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin:10px;
}
.add_bar{
  display: flex;
  flex-direction: column;
  
}

.add {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


button {
  background-color: var(--dark);
  color: var(--background);
  padding: 10px;
  font-size: 20px;
  border-style: none;
  border-radius: 4px;
  margin: 10px;
  width:100px;
}

input {
  padding:10px;
  border: solid black  1px;
  border-radius: 4px;
}
label {
  font-size: 20px;
  margin: 4px;
}

h2, .button {
  color: var(--dark);
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
  
}

th, td {
  text-align: center;
  padding: 8px;
  font-size: 17px;;
}

tr:nth-child(odd) {background-color: var(--light);}
@media only screen and (max-width: 420px) {
  th, td {
    
    font-size: 15px;;
  }
}

@media only screen and (max-width: 375px) {
  
  th, td {
    
    font-size: 15px;;
  }
.search_bar {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.input_section {
  width: 90vw;
}
 .button {
  font-size:15px;
}
  
}